<div class="container-form">
  <p id="notice"><%= notice %></p>
<center><h2>Mes contrats</h2></center>
<div class="wrapper">

  <div class="table">

    <div class="rowa header">
      <div class="cell">
        Nom du contrat
      </div>
      <div class="cell">
        Type de contrat
      </div>
      <div class="cell">
        Objet du contrat
      </div>
      <div class="cell">
      Action
      </div>
    </div>

 <% @contrats.each do |contrat| %>
        <tr>

    <div class="rowa">
      <div class="cell" data-title="Name">
       <%= contrat.name %>
      </div>
      <div class="cell" data-title="Age">
        <%= contrat.typecontrat %>
      </div>
      <div class="cell" data-title="Occupation">
        <%= contrat.objet %>
      </div>
      <div class="cell" data-title="Location">
        <%= link_to 'Visualiser', contrat %>
        <%= link_to 'Editer', edit_contrat_path(contrat) %>
        <%= link_to 'Supprimer', contrat, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>

  <br>
<center>
  <%= link_to 'Nouveau Contrat', new_contrat_path %></center><br/>
</div>
