<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <div class="container-form">
<h2>Informations générales</h2>
<p>
  <strong>Name:</strong>
  <%= @contrat.name %></p>
      <p> <strong>Type de contrat:</strong><%= @contrat.typecontrat %></p>
      <p> <strong>Numero du contrat:</strong><%= @contrat.ids %></p>
      <p> <strong>Objet:</strong><%= @contrat.objet %></p>
      <p> <strong>Référence:</strong><%= @contrat.reference %></p>
      <p> <strong>Code Comptabilité:</strong><%= @contrat.codecomptabilitecharges %></p>
      <p> <strong>Code Fournisseur:</strong><%= @contrat.codecomptabilitefournisseurs%></p>

      <p><strong>Commentaire:</strong><%= @contrat.commentaire %></p>



<% if @contrat.photo? %>
<%= link_to "Facture","http://res.cloudinary.com/mathieuabeille/image/upload/#{@contrat.photo.path}" %><br/>
          <%= link_to "http://res.cloudinary.com/mathieuabeille/image/upload/#{@contrat.photo.path}" do %>

          <%= cl_image_tag @contrat.photo.path, as: :attachinary, width: 200, height: 300, crop: :fill,  style: "@media screen and (max-width: 640px) { width: 100px;
}", crop: :fill %>
          </center>
          <% end %>
          <% end %>



</div>

      <div class="container-form">

        <h2>Liaisons</h2>
      <br/>Contrat d'assurance : <br/>
        <a href="https://aca-trames.herokuapp.com/contrats/4">Assurance Responsabilité civile des experts comptables</a> <br/>
        <br/>Contrat informatique : <br/>
        <a href="https://aca-trames.herokuapp.com/contrats/3">Contrat D'adhésion PR2i</a>
<br/> <br/>
<button class="btn btn-primary" href="#">Ajouter une liaison</button>


</div>
    </div>

    <div class="col-xs-6">
      <div class="container-form"></p>
<h2>Éléments financiers</h2>



      <p> <strong>Montant HT:</strong><%= @contrat.montantht%></p>
      <p> <strong>Montant TTC:</strong><%= @contrat.montantttc %></p>
      <p><strong>Périodicité:</strong><%= @contrat.periodicite %></p>
      <p><strong>Montant Annuel de la prestation:</strong><%= @contrat.montantannueldelaprestation%></p>
      <p><strong>Indice Indexation:</strong><%= @contrat.indiceindexation%></p>
      <p><strong>Valeur Indice:</strong><%= @contrat.valeurindice %></p>
      <p>
           <p><strong>Caution:</strong><%= @contrat.caution %></p>
                 <p><strong>Montant Période:</strong><%= @contrat.montantperiode %></p>
      <p><strong>Montant Option Achat:</strong><%= @contrat.montantoptionachat %></p>
    </div>
    <div class="container-form">
<h2>Écheances</h2>


        <strong>Durée Contrat:</strong><%= @contrat.dureecontrat %></p>
      <p><strong>Préavis de résiliation:</strong><%= @contrat.preavisresiliation %></p>
       <p><strong>Date de début:</strong><%= @contrat.datedebut %></p>
        <p><strong>Date de fin:</strong><%= @contrat.datefin %></p>
      <p><strong>Durée amortissement:</strong><%= @contrat.dureeamortissement %></p>


</div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <div class="container-form">

        <h2>Avenants</h2>






   <%= simple_form_for [@contrat, @avenant] do |f| %>
          <%= f.input :montantht, label: 'Montant HT:' %>
          <%= f.input :montantttc, label: 'Montant TTC:' %>
          <%= f.input :montantannueldelaprestation, label: 'Montant Annuel de la prestation:' %>
          <%= f.input :indiceindexation, label: 'Indice Indexation:' %>
           <%= f.input :montantoptionachat, label: "montant de l'option achat:" %>
          <%= f.input :montantperiode, label: 'montant pour la periode:' %>
          <%= f.input :preavisresiliation, label: 'Préavis de résiliation:' %>
           <%= f.input :dureecontrat, label: 'Durée du contrat:' %>


          <%= f.submit "Ajouter", class: "btn btn-primary"%>
          <% end %>










        </div>


          <% @contrat.avenants.reverse_each do |avenant| %>

 <div class="container-form">

              Le <i><%= avenant.created_at  %>:</i><br/>
            <p> <b>Montant HT:</b> <%= avenant.montantht %></p>
            <p><b>Montant TTC:</b> <%= avenant.montantttc  %> </p>
            <p><b>Montant Annuel de la prestation:</b><p> <%= avenant.montantannueldelaprestation  %> </p>
            <p><b>Indice Indexation:</b> <%= avenant.indiceindexation  %> </p>
            <p><b>Montant Option Achat:</b> <%= avenant.montantoptionachat  %> </p>
            <p><b>Préavis de résiliation: </b> <%= avenant.preavisresiliation  %> </p>
            <p><b>Durée du contrat:</b> <%= avenant.dureecontrat %> </p>
             <%= link_to avenant_path(avenant), method: :delete, data: { confirm: "Confirmation" } do %>
            <i class="fa fa-trash icons card-link" aria-hidden="true"></i>
            <% end %>

             <%= link_to edit_contrat_avenant_path(avenant) do %>
            <i class="fa fa-pencil icons card-link" aria-hidden="true"></i>
            <% end %>
            </div>
          <% end %>
          </div>












</div></div></div></div>



<%= link_to 'Edit', edit_contrat_path(@contrat) %> |
<%= link_to 'Back', contrats_path %>




