<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <div class="container-form">
<h2>Informations générales</h2>
<p>
  <strong>Name:</strong>
  <%= @contrat.name %></p>
      <p> <strong>Type de contrat:</strong><%= @contrat.typecontrat %></p>
      <p> <strong>Numero du contrat:</strong><%= @contrat.ids %></p>
      <p> <strong>Objet:</strong><%= @contrat.objet %></p>
      <p> <strong>Référence:</strong><%= @contrat.reference %></p>
      <p> <strong>Code Comptabilité:</strong><%= @contrat.codecomptabilitecharges %></p>
      <p> <strong>Code Fournisseur:</strong><%= @contrat.codecomptabilitefournisseurs%></p>

      <p><strong>Commentaire:</strong><%= @contrat.commentaire %></p>



<% if @contrat.photo? %>
<%= link_to "Facture","http://res.cloudinary.com/mathieuabeille/image/upload/#{@contrat.photo.path}" %><br/>
          <%= link_to "http://res.cloudinary.com/mathieuabeille/image/upload/#{@contrat.photo.path}" do %>

          <%= cl_image_tag @contrat.photo.path, as: :attachinary, width: 200, height: 300, crop: :fill,  style: "@media screen and (max-width: 640px) { width: 100px;
}", crop: :fill %>
          </center>
          <% end %>
          <% end %>



</div>

      <div class="container-form">

        <h2>Liaisons</h2><br/><br/><br/><br/>
</div>
    </div>

    <div class="col-xs-6">
      <div class="container-form"></p>
<h2>Éléments financiers</h2>



      <p> <strong>Montant HT:</strong><%= @contrat.montantht%></p>
      <p> <strong>Montant TTC:</strong><%= @contrat.montantttc %></p>
      <p><strong>Périodicité:</strong><%= @contrat.periodicite %></p>
      <p><strong>Montant Annuel de la prestation:</strong><%= @contrat.montantannueldelaprestation%></p>
      <p><strong>Indice Indexation:</strong><%= @contrat.indiceindexation%></p>
      <p><strong>Valeur Indice:</strong><%= @contrat.valeurindice %></p>
      <p>
           <p><strong>Caution:</strong><%= @contrat.caution %></p>
                 <p><strong>Montant Période:</strong><%= @contrat.montantperiode %></p>
      <p><strong>Montant Option Achat:</strong><%= @contrat.montantoptionachat %></p>
    </div>
    <div class="container-form">
<h2>Écheances</h2>


        <strong>Durée Contrat:</strong><%= @contrat.dureecontrat %></p>
      <p><strong>Préavis de résiliation:</strong><%= @contrat.preavisresiliation %></p>
       <p><strong>Date de début:</strong><%= @contrat.datedebut %></p>
        <p><strong>Date de fin:</strong><%= @contrat.datefin %></p>
      <p><strong>Durée amortissement:</strong><%= @contrat.dureeamortissement %></p>


</div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <div class="container-form">

        <h2>Avenants</h2><br/><br/><br/><br/>
</div></div></div></div>



<%= link_to 'Edit', edit_contrat_path(@contrat) %> |
<%= link_to 'Back', contrats_path %>




